.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 75px;
  font-size: 1.6rem;
  justify-content: space-between;
  background-color: #1e3a8a;
}

.navName {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  font-weight: bold;
  color: white;
}
.navLinkWrapper {
  display: flex;

  .navLink {
    margin: 10px;
    cursor: pointer;
    color: #facc15;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 50px;

    &:hover {
      text-decoration: underline;
      color: white;
      transition: ease-in-out 0.3s;
      background-color: #facc15;
    }
  }
}
