.lastestRoomContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.latestRoomTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.latestRoomWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1600px;
}

.roomCard {
  flex: 1 1 calc(25% - 20px);
  max-width: 350px;
  background-color: grey;
  border-radius: 25px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #1e293b;
  background-color: #cbccce;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.roomImage {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.roomContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 15px;
}

@media (max-width: 1024px) {
  .roomCard {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .roomCard {
    flex: 1 1 100%;
  }
}
